{% load i18n static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<form method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value = "submit">
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/loader.js"></script>


<div id="editor" display="block"></div>

<script>
    //   Load the Monaco Editor
//     const messageField = document.querySelector("[name='profile_yml']");

// messageField.removeAttribute('required');

      require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs' }});
        require(['vs/editor/editor.main'], function () {

            var code = document.getElementById('id_profile_yml').value;

            console.log(code)

            // Initialize Monaco Editor
            var editor = monaco.editor.create(document.getElementById('editor'), {
                value: code,
                language: 'yaml',
                theme: 'vs-dark' // Change the theme as needed
            });

        //     $('#myForm').submit(function() {
        //     var value = editor.getValue();
        //     $('#id_profile_yml').val(value); // Set the textarea value
        // });

        $('.button').click(function () {
            var value = editor.getValue();
            $('#id_profile_yml').val(value); // Set the textarea value
            $('#submit').click();

        })
        });

    
</script>


<style>
#id_profile_yml{
    /* background-color: 'lightblue';
    font-size: '16px'; */
    /* display: none; */
}
#editor {
            width: 800px;
            height: 600px;
        }
    .form-wrapper {
        border: 1px solid #ccc;
        padding: 20px;
    }
    
    .form-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 55px;
        background-color: #f0f0f0;
    }
    
    .form-rounded {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
    }
    
    .form-shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    
    .form-gradient {
        background: linear-gradient(to bottom right, #121111, #403d3b);
        border-radius: 20px;
        padding: 20px;
        /* border: 20px solid #ccc; */
        color: #fff;
    }
    
    .button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 8px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
    }
    
    
    .button {
      transition-duration: 0.4s;
    }
    
    .button:hover {
      background-color: #04AA6D; /* Green */
      color: white;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    /* body {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
    }
    
    * {
      box-sizing: border-box;
    } */
    
    .select {
      position: relative;
      min-width: 200px;
    }
    
    .select svg {
      position: absolute;
      right: 12px;
      top: calc(50% - 3px);
      width: 10px;
      height: 6px;
      stroke-width: 2px;
      stroke: #9098A9;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      pointer-events: none;
    }
    
    .select select {
      -webkit-appearance: none;
      padding: 7px 40px 7px 12px;
      width: 100%;
      border: 1px solid #E8EAED;
      border-radius: 5px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098A9;
      cursor: pointer;
      font-family: inherit;
      font-size: 16px;
      transition: all 150ms ease;
    }
    
    .select select:required:invalid {
      color: #5A667F;
    }
    
    .select select option {
      color: #223254;
    }
    
    .select select option[value=""][disabled] {
      display: none;
    }
    
    .select select:focus {
      outline: none;
      border-color: #0077FF;
      box-shadow: 0 0 0 2px rgba(0, 119, 255, .2);
    }
    
    .select select:hover + svg {
      stroke: #0077FF;
    }
    
    .sprites {
      position: absolute;
      width: 0;
      height: 0;
      pointer-events: none;
      user-select: none;
    }
    
    .material-symbols-outlined{
        font-size: 25px;
        cursor: pointer;
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 20,
      'opsz' 54;
    }
    .add {
      color: rgb(9, 119, 17);  
    }
    
    .edit {
        color: rgb(224, 126, 6);
      }
    </style>